
.homepage {
  display: grid;
  /* background-image: url(./images/homepage-background.jpg); */
  height: auto;
  background-size: cover;
}
.hero-image{
  position: relative;
}










/* {

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 60px;
}

.hero-text {
  max-width: 500px;
}

.tagline {
  font-size: 14px;
  margin-bottom: 10px;
  color: #555;
}

.hero-text h1 {
  font-size: 40px;
  margin: 10px 0;
  color: #841B14;
}

.hero-text h1 span {
  font-weight: bold;
}

.hero-text h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.shop-btn {
  padding: 12px 30px;
  background-color: #841B14;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}

.shop-btn:hover {
  background-color: #a22a1b;
}


.hero-image {
  position: relative;
}

.hero-image img {
  width: 400px;
  border-radius: 10px;
}

.new-label {
  position: absolute;
  top: 20px;
  left: -40px;
  font-size: 50px;
  transform: rotate(-90deg);
  color: #fff;
  font-weight: bold;
  opacity: 0.8;
}

.fits-label {
  position: absolute;
  bottom: 20px;
  right: 10px;
  font-size: 18px;
  color: #fff;
}

}  */