
.homepage {
  display: grid;
  background-image: url(./images/homepage-background.jpg);
  height: auto;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.hero-text {
  font-family: "Ovo", serif;
}
.new-label{
  font-family: "Sacramento", cursive;
  font-size: 160px;
  line-height: 100%;
  color: #FFFFFF;
}
.fits-label{
  font-family: "Outfit", sans-serif;
  font-size: 70px;
  font-size: 160px;
  line-height: 100%;
  /* color: #FFFFFF; */
}
.fits-year{
  font-family: "Ovo", serif;
}

.hero-text p{
font-weight: 400;
font-size: 40px;
line-height: 100%;
color: rgb(0, 0, 0);
}
.hero-text h1{
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  color: #7A1514;
}
.hero-text h2{
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  color: rgb(0, 0, 0);
}