*{
  list-style: none;
  text-decoration: none ;
}

img{
  width: 30px;
  height: 32px;
}

.navbar ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0px 20px; 
}

.heading-main{
  color: #7A1514;
  font-size: 48px;
  height: 60px;
  width: 170px;
  line-height: 100%;
}

.named-links{
  font-family: "Ovo", serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: black;
}
