*{
  list-style: none;
}

img{
  width: 30px;
  height: 32px;
}

.navbar ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 132px;
}

h2{
  color: #7A1514;
  font-size: 48px;
  height: 60px;
  width: 170px;
  line-height: 100%;
}

